body {
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            background-color: #003687;
          background-image: linear-gradient(to left bottom, #003687, #003073, #00295f, #02224c, #061b39);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 300px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px 1px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button {
            background-color: #003687;
            color: white;
    font-weight: 900;
            border: none;
            border-radius: 5px;
            padding: 10px 10px;
            cursor: pointer;
            font-family: 'Courier New', Courier, monospace;
            width: 100%;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        li .task {
            flex: 1;
            margin-right: 10px;
        }

        li button {
            background-color: #dc3545;
           background-image: linear-gradient(to right top, #003687, #722791, #bb007e, #ed0051, #ff0000);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }




                ul {
            list-style-type: none;
            padding: 0;
            margin-top: 20px;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease-in-out;
        }

        li:hover {
            background-color: #ebebeb;
        }

        /* Add responsive design for smaller screens */
        @media screen and (max-width: 600px) {
            .container {
                max-width: 90%;
            }}